{% extends "layout.html" %} {% block content %}

<script>
    function make_row_links_clickeable() {
        console.log('running make_row_links_clickeable');
        var arr = [];
        var l = document.links;
            for(var i=0; i<l.length; i++) {
                var link = l[i].href;
                var td = l[i].parentElement;
                var tr = td.parentElement;
                tr.id = link;
                tr.onclick = function(){ open(this.id, "_self"); };
                arr.push(l[i].href);
        };
};

window.onload = function() {
    make_row_links_clickeable();
};
</script>

  <div class="card">
      <div class="card-content">
          <div class="content">
              <div class="control has-icons-left has-icons-right">
                  <input id="search" class="input is-large" type="search" placeholder="" />
                  <span class="icon is-medium is-left">
                  <i class="fa fa-search"></i></span><span class="icon is-medium is-right">
                  <i class="fa fa-empire"></i></span>
              </div>
          </div>
      </div>
  </div>

  {{ table }}
  
<!-- <div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
  <div class="notification is-{{ category }}">
    <button class="delete"></button>
    {{ message }}
  </div>
  {% endfor %} {% endif %} {% endwith %}
</div> -->

{% endblock content %}